<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Acme News Magazine{% endblock %}</title>

    {% block stylesheets %}
    <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block javascripts_top %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>
<body>
<div class="container">

    <header class="row">
        <nav class="navbar navbar-default col-xs-12" aria-label="Навигация по разделам сайта">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/news">Acme News</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/news">HTML list <span class="sr-only">(текущая страница)</span></a></li>
                    <li><a href="/news.xml">XML list</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /.navbar -->
    </header>

    <main class="row" aria-labelledby="newsheader">
        <div class="col-xs-12">

            <header id="newsheader">
                <h1>Лента новостей</h1>
                <h3>страница 2</h3>
            </header>

            <article class="row">
                <section class="col-xs-3">
                    <time datetime="06.09.2016 17:54">06.09.2016 17:54</time>
                </section>
                <section class="col-xs-9">
                    <p>Рада разрешила проводить перерасчет выплат семьям заложников.</p>
                    <p>Согласно закону, родственникам военнослужащих, которые захвачены в плен, или считаются без вести пропавшими, выплачивается денежное обеспечение.</p>
                    <a href="" rel="bookmark">Читать новость полностью &raquo;</a>
                </section>
            </article>

            <article class="row">
                <section class="col-xs-3">
                    <time datetime="06.09.2016 17:51">06.09.2016 17:51</time>
                </section>
                <section class="col-xs-9">
                    <p>Полиция: Основная версия пожара на Интере - умышленный поджог.</p>
                    <p>Глава ГУ Нацполиции Киева Андрей Крищенко отметил, что полиция пока никому не выдвинула подозрения по этому делу.</p>
                    <a href="" rel="bookmark">Читать новость полностью &raquo;</a>
                </section>
            </article>

            <article class="row">
                <section class="col-xs-3">
                    <time datetime="06.09.2016 17:35">06.09.2016 17:35</time>
                </section>
                <section class="col-xs-9">
                    <p>General Electric купит производителей оборудования для 3D-печати.</p>
                    <p>Американская компания намерена приобрести две компании за $1,4 млрд.</p>
                    <a href="" rel="bookmark">Читать новость полностью &raquo;</a>
                </section>
            </article>

            <article class="row">
                <section class="col-xs-3">
                    <time datetime="06.09.2016 17:29">06.09.2016 17:29</time>
                </section>
                <section class="col-xs-9">
                    <p>В Одесской области офицеру дали 5 лет за отказ ехать в зону АТО. Офицер отвечал за комплектацию воинских частей, в том числе в зоне АТО.</p>
                    <a href="" rel="bookmark">Читать новость полностью &raquo;</a>
                </section>
            </article>

            <article class="row">
                <section class="col-xs-3">
                    <time datetime="06.09.2016 17:28">06.09.2016 17:28</time>
                </section>
                <section class="col-xs-9">
                    <p>Украина выполнила условия для получения транша МВФ - Кубив. Первый вице-премьер сообщил, что правительство выполнило условия МВФ для получения третьего кредитного транша.</p>
                    <a href="" rel="bookmark">Читать новость полностью &raquo;</a>
                </section>
            </article>

        </div>
    </main>

    <aside class="row">
        <nav class="listnav col-xs-12" aria-label="Навигация по ленте новостей">
            <ul class="pagination">
                <li>
                    <a href="#" rel="first" aria-label="First page">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="prev" aria-label="Previous page">
                        <span aria-hidden="true">&lsaquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="active">
                    <span>1 <span class="sr-only">(current)</span></span>
                </li>
                <li><a href="#">5</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" rel="next" aria-label="Next page">
                        <span aria-hidden="true">&rsaquo;</span>
                    </a>
                </li>
                <li>
                    <a href="#" rel="last" aria-label="Last page">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <footer class="row">
        <div class="col-xs-12">2016 &copy; Acme News</div>
    </footer>

</div>
{% block javascripts_bottom %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
